header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, #1d2834, #151e29);
    padding-top: 10px;
    z-index: 9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
}

header > img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 200px;
    height: 50px;
}

#options{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #151e29;
    color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    opacity: 0.98;
}

#icon-menu{
    padding: 5px 10px;
    font-size: 1.8em;
}

li{
    padding: 10px;
}

header .material-symbols-outlined{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    margin-top: 7px;
    color: white;
    background-color: transparent;
}

label{
    padding: 5px 10px;
}

#ilabel{
    font-size: 1.8em;
}

#search-box{
    display: none;
    position: absolute;
    text-align: center;
    left: 0%;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #151e29;
    opacity: 0.98;
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

main{
    position: relative;
    left: 50%;
    top: 60px;
    transform: translate(-50.1%);
    width: 100%;
    height: 100%;
    background-color: #273646;
    padding-bottom: 20px;
}

section{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
}

footer{
    padding: 75px 0px;
    background-color: #151e29;
    text-align: center;
    color: white;
}

footer > h2{
    margin-bottom: 10px;
}

footer img{
    width: 35px;
    color: white;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    padding: 1px;
}





