body{
    height: 10000px;
    background-color: #1d2834;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, #FFA719, #d68605);
    padding-top: 10px;
    z-index: 9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
}

header > h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 5px 0px 0px 17px;
    color: white;
    font-family: Plexiglass;
    font-size: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    width: 250px;
}

#options{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #d68605;
    color: white;
    width: 100vw;
    height: 100vh;
}

#icon-menu{
    padding: 5px 10px;
    font-size: 1.8em;
}

li{
    padding: 10px;
}

.material-symbols-outlined{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    margin-top: 7px;
    color: white;
    background-color: transparent;
}

label{
    padding: 5px 10px;
    margin-left: 143px;
}

#ilabel{
    font-size: 1.8em;
}

#search-box{
    display: none;
    position: absolute;
    left: 0%;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #d68605;
}

#isearch{
    position: absolute;
    left: 22%;
    border: 5px solid white;
    margin-left: 16px;
}

#btn-submit{
    position: absolute;
    left: 59%;
    padding: 5px;
    border: 0;
}

main{
    position: relative;
    left: 50%;
    top: 60px;
    transform: translate(-50%);
    width: 95%;
    height: 10000px;
    background-color: white;
}

main > video{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 305px;
}


