body{
    height: 10000px;
    background-color: rgb(54, 54, 54);
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: black;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
}

header > h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    color: white;
    width: 250px;
}

#options{
    display: none;
    position: absolute;
    top: 80%;
    background-color: white;
    width: 30vw;
    height: 400px;
}

#icon-menu{
    margin-top: 10px;
    padding: 5px;
}

#icon-menu:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 50%;
}

li{
    padding: 10px;
}

.material-symbols-outlined{
    margin-top: 12px;
    color: white;
}

label{
    padding: 5px;
    margin-left: 143px;
}

#isearch{
    display: none;
    border: 5px solid white;
    border-radius: 5px 0 5px 5px;
    margin-left: 16px;
}

main{
    width: 100%;
    height: 10000px;
}

main > video{
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 305px;
}


