#carousel{
    width: 100%;
    overflow-x: hidden;
}

#carousel #box-carousel{
    display: flex;
    flex-direction: row;
    width: 600%;
    animation-name: animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

#carousel #box-carousel img{
    width: 100%;
    height: 25vh;
}

.destaques{
    padding-top: 40px;
    overflow-x: hidden;
}

.destaques > .box-swap h2{
    color: white;
    margin-bottom: 25px;
    font-size: 1.2em;
}

.destaques > .box-swap{
    display: flex;
    justify-content: space-between;
}

.destaques > .box-swap > .swapper{
    position: relative;
    color: white;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    width: 1610px;
    transition: 1s ease;
}

.destaques img{
    width: 130px;
    height: 180px;
    border-radius: 10px;
}

.arrow-left{
    color: rgb(88, 88, 88);
}